<table class="table  table-hover">
  <thead>
    <tr>
      <th>Address</th>
      <th>Port</th>
      <th>Protocol</th>
      <th>State</th>
      <th>Service</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody class="table-bordered">
    <% @hosts.each do |host| %>
      <% if host['hostname'].status.state == :up %>
        <% host['ports'].each_with_index do |port, index| %>
          <tr>
            <% if index == 0 %>
              <td rowspan="<%= host['ports'].length %>"><%= host['hostname'] %></td>
            <% end %>
            <td><%= port.number %></td>
            <td><%= port.protocol %></td>
            <td><%= port.state %></td>
            <td><%= port.service %></td>
            <td><%= port.title %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
